.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: auto;
 

}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: black;
}
.grid-item {
	margin-left: 12px;
	margin-bottom: 10px; 
  padding: auto;
  padding-top: 10px;
  padding-bottom: 35px;
  font-size: 30px;
  text-align: center;
  border-color: black;
  border-radius: 12px;
  border-style: solid;
  font-size: 15px;
  font-weight: bold;
}
.titulos{
  background-color: thistle;
  border-radius: 20px;
  margin-left: 35px;
  margin-right: 35px;
  padding: 5px;
 
}
header{
	text-align: center;
}
body{
	background-color: grey;
}
 input{
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding: 8px;
  background-color: steelblue;
}
